@font-face {
  font-family: nexa-heavy;
  src: url(../fonts/Nexa-Heavy.woff);
}

@font-face {
  font-family: frostbite;
  src: url(../fonts/Frostbite.woff);
}

@font-face {
  font-family: auto-techno;
  src: url(../fonts/Auto-Techno.woff);
}

#App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100px minmax(800px, 1fr) 400px;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #121212;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

.mainSection {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  font-size: 0.875rem;
  color: #c0c0c0;
  padding: 40px 10px 10px 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav {
  font-size: 1.125rem;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav > div {
  margin-left: auto;
}

.footer > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.footerAbout,
.footerSocial,
.footerPolicies {
  display: flex;
  gap: 40px;
}

.footerCopyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerCopyright div {
  display: flex;
  align-items: center;
}

p {
  padding: 5px;
}

h1 {
  font-size: 2rem;
  color: red;
  line-height: 0.8;
  text-align: center;
  justify-self: start;
}

h1 span {
  font-family: auto-techno;
  font-size: 1.5rem;
  color: #ffffff;
}

h1,
h2,
h3 {
  font-family: nexa-heavy, sans-serif;
  padding: 5px;
}

.footer h2 {
  font-family: frostbite;
  letter-spacing: 2px;
}

button {
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
}

img {
  object-fit: cover;
}

.apiHyperlink img {
  height: 40px;
}

svg {
  height: 30px;
  width: 30px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.cartLink {
  position: relative;
}

.cartLink span {
  position: absolute;
  bottom: 0px;
}

.apiHyperlink a {
  font-family: nexa-heavy, sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

a:hover {
  color: #535bf2;
}

button:hover {
  background-color: #cccccc;
}

@media (max-width: 500px) {
  .footerAbout,
  .footerSocial,
  .footerPolicies {
    gap: 20px;
  }

  li {
    font-size: 0.75rem;
  }
}
