.gamesCollection {
  width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.gamesCollection h1 {
  height: 80px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 260px));
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.gameCard {
  height: 380px;
  display: grid;
  grid-template-rows: 4fr 1fr;
  gap: 10px;
}

.gameCard img {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
}
