.gamesCollection {
  width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.gameCard {
  height: 380px;
  border-radius: 5px;
  /* background-color: #1f1f1f; */
  display: grid;
  grid-template-rows: 300px 1fr;
  justify-self: center;
}

.cardDescription {
  padding: 5px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.gamesCollection h1 {
  height: 80px;
}

.gameCard img {
  min-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  pointer-events: none;
}

.gameCard:hover {
  filter: brightness(140%);
}
