.gameOverview {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gameDetails {
  display: grid;
  grid-template-rows: 1fr 200px 150px;
  gap: 20px;
}

.gameDetails img {
  max-width: 100%;
  min-height: 100%;
}

.gameDetailsTwo {
  height: 50%;
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.shopSection {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.cartBuy button {
  padding: 10px 20px;
}
