.gameOverview {
  max-width: 1200px;
  min-width: 850px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px 1fr;
  column-gap: 10px;
}

.gameDetails {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 430px 1fr 1fr;
  gap: 20px;
}

.gameDetailsTwo {
  height: 30%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.gameMeta {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}

.gameMeta > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.gameMetaOne > div,
.gameMetaTwo > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shopSection {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.cartBuy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cartBuy button {
  height: 100%;
  padding: 10px 20px;
}

.gameMeta p {
  font-size: 0.875rem;
  color: grey;
}

.gameDetails img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.buyBtn:hover {
  background-color: #00cc99;
}
