.productsPage {
  height: 100%;
  display: grid;
  grid-template-columns: 100px minmax(500px, 1350px) 100px;
  justify-items: center;
}

.productsPage > div {
  grid-column: 2 / 3;
}

@media (max-width: 800px) {
  .productsPage {
    display: flex;
  }

  .gamesCollection {
    justify-items: center;
  }
}
